$primary-color:#171C61;
$secondary-color-dark:#222345;
$secondary-color-middle:#5E69DB;
$secondary-color-gray:#555680;
$background-colo-light:#d7d9ff;
$background-color-deep:#a1aaff;
$footer-backgroundcolor:#1a2163;
$linear-gradient:linear-gradient(to right, #5A71F7 0%, #858FF7 100%);

$button-hover:#ACB4FF;